{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
<form action="{{ url_for('baitsets') }}" method="POST" id="submit_baitset" name="submit_baitset" enctype=multipart/form-data>
  <div class="form-group">
    <br>
    <h4>Upload a new bait set</h4>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Bait set name</span>
      </div>
    <input type="text" class="form-control" aria-label="baitset_name" aria-describedby="inputGroup-sizing-default" required>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" ></textarea>
    </div>


    <!-- Genomic build dropdown -->
    <div class="dropdown">
        <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Genomic Build
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">GRCh37</a>
            <a class="dropdown-item" href="#">GRCh38</a>
        </div>
    </div>

    <!-- testing
    <select name="cars">
        <option value="volvo">Volvo</option>
         <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select> -->



    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" accept=".bed, .txt, .csv" class="custom-file-input" name="inputFile" id="inputfile" onchange="setfilename(this.value);" required>
        <label class="custom-file-label" id="baiset_file_label" for="inputFile">Choose file</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<br>
<h4>Available baitsets:</h4>

<br><br>
Submitted document: {{document}} {{upload_folder}} <br>

<div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope=""col">Chromosome</th>
              <th scope=""col">chr_start</th>
              <th scope=""col">chr_stop</th>
              <th scope=""col">length</th>
            </tr>
          </thead>
          <tbody>
            {% for line in bah %}
              <tr>
                <td>{{line.chromosome}}</td>
                <td>{{line.chr_start}}</td>
                <td>{{line.chr_stop}}</td>
                <td>{{line.chr_stop|int - line.chr_start|int}}</td>
              </tr>
            {% endfor %}

          </tbody>

        </table>
  {{bah}}

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

 function setfilename(val)
  {
    //get the file name
    var fileName = val
    //replace the "Choose a file" label
    document.getElementById('baiset_file_label').innerHTML = fileName
  }



</script>
{% endblock %}
