{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
<form action="{{ url_for('baitsets') }}" method="POST" id="submit_baitset" name="submit_baitset" enctype=multipart/form-data>
  <div class="form-group">
    <br>
    <h4>Upload a bait set</h4>
    <br>

    <!-- Radiobuttons for choosing between a new or a new version of bait-set-->
    <div class="form-group">
        <label class="control-label">Add a new bait-set or a new version of an existing one</label>
        <div class="form-group">
            <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
            New bait-set
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios1">
                New version of existing bait-set
            </label>
        </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Bait set name</span>
      </div>
    <input type="text" class="form-control" aria-label="baitset_name" aria-describedby="inputGroup-sizing-default" required>
    </div>
    <div class="form-check form-check-inline">
        <span class="input-group-text" id="inputGroup-sizing-default">Chromosome build</span>
          <select class="form-control" id="chr_build">
            <option>GRCh37</option>
            <option>GRCh38</option>
          </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" ></textarea>
    </div>

    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" accept=".bed, .txt, .csv, .xls, xlsx" class="custom-file-input" name="inputFile" id="inputfile" onchange="setfilename(this.value);" required>
        <label class="custom-file-label" id="baiset_file_label" for="inputFile">Choose file</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<br>

{% if baitlist %}
<h4>Available baitsets:</h4>
{% endif %}

{% if baitlist %}
Submitted document:    {{document}} {{upload_folder}} <br>
<div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Chromosome</th>
              <th scope="col">chr_start</th>
              <th scope="col">chr_stop</th>
              <th scope="col">length</th>
            </tr>
          </thead>
          <tbody>
            {% for line in baitlist %}
              <tr>
                <td>{{line.chromosome}}</td>
                <td>{{line.chr_start}}</td>
                <td>{{line.chr_stop}}</td>
                <td>{{line.chr_stop|int - line.chr_start|int}}</td>
              </tr>
            {% endfor %}

          </tbody>

        </table>
  {{baitlist}}

</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">

 function setfilename(val)
  {
    //get the file name
    var fileName = val
    //replace the "Choose a file" label
    document.getElementById('baiset_file_label').innerHTML = fileName
  }



</script>
{% endblock %}
